.m-main-content .checkout{
    display: flex;
    background-color: white;
}
.checkout-address{
    width: 60%;
    padding: 32px;
    border-right: 1px solid #d2cfcf;
}
.checkout-detail{
    width: 40%;
    padding: 32px;
    background-color: rgb(235, 246, 246);
}
.payment-methods,.shipping-method{
    margin-top: 24px;
}
.method-list{
    border: 1px solid #b7b3b3;
    border-radius: 4px;
}
.method-item{
    display: flex;
    padding: 12px;
    border-bottom: 1px solid #b7b3b3;
    justify-content: space-between;
}
.payment-methods .method-item:nth-last-child(1),
.shipping-method .method-item:nth-last-child(1){
    border-bottom: unset;
}
.method-left input{
    margin-right: 12px;
    transform: scale(1.5);
    cursor: pointer;
}
.method-left img{
    width: 30px;
    height: 100%;
    margin-right: 12px;
}
.method-title{
    font-size: 18px;
    color: black;
    font-weight: 700;
}
.checkout-btn{
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    align-items: center;
}
.checkout-btn-cart{
    cursor: pointer;
    font-weight: bold;
}
.checkout-btn-pay{
    padding:12px 20px;
    color: white;
    border-radius: 4px ;
    cursor: pointer;
    font-weight: 500;
    background-color: var(--input-primary);
}
.lb-discount-code{
    margin-bottom: 4px;
    color: black;
    font-weight: 600;
}
.discount-code{
    background-color: white;
}
.total-detail{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.total-detail-right{
    font-weight: bold;
}
.img-checkout{
    width: max-content;
    height: 50px;
}
.add-address{
    font-size: 12px;
    color: rgb(12, 255, 57);
    cursor: pointer;
}