.icon-overview{
    background: url("../../img/Sprites.64af8f61.svg") no-repeat -33px -1587px;
	width: 18px;
	height: 20px;
	cursor: pointer;
}
.icon-cash{
    background: url("../../img/Sprites.64af8f61.svg")no-repeat -78px -1588px;
	width: 14px;
	height: 18px;
	cursor: pointer;
}
.icon-deposits{
    background: url("../../img/Sprites.64af8f61.svg")no-repeat -121px -1590px;
	width: 16px;
	height: 16px;
	cursor: pointer;
}
.icon-purchase{
    background: url("../../img/Sprites.64af8f61.svg")no-repeat -165px -1589px;
	width: 16px;
	height: 18px;
	cursor: pointer;
}
.icon-sell{
    background: url("../../img/Sprites.64af8f61.svg")no-repeat -206px -1588px;
	width: 20px;
	height: 14px;
	cursor: pointer;
}
.icon-bill{
    background: url("../../img/Sprites.64af8f61.svg")no-repeat -254px -1589px;
	width: 14px;
	height: 17px;
	cursor: pointer;
}
.icon-contain{
    background: url("../../img/Sprites.64af8f61.svg")no-repeat -294px -1589px;
	width: 18px;
	height: 17px;
	cursor: pointer;
}
.icon-tools{
    background: url("../../img/Sprites.64af8f61.svg")no-repeat -339px -1590px;
	width: 18px;
	height: 17px;
	cursor: pointer;
}

.icon-asset{
    background: url("../../img/Sprites.64af8f61.svg")no-repeat -382px -1589px;
	width: 17px;
	height: 18px;
	cursor: pointer;
}
.icon-tax{
    background: url("../../img/Sprites.64af8f61.svg")no-repeat -427px -1591px;
	width: 16px;
	height: 16px;
	cursor: pointer;
}
.icon-price{
    background: url("../../img/Sprites.64af8f61.svg")no-repeat -471px -1590px;
	width: 17px;
	height: 17px;
	cursor: pointer;
}
.icon-total{
    background: url("../../img/Sprites.64af8f61.svg")no-repeat -514px -1590px;
	width: 15px;
	height: 16px;
	cursor: pointer;
}
/* Ngân sách */
.icon-budget{
    background: url("../../img/Sprites.64af8f61.svg")no-repeat -427px -1664px;
	width: 16px;
	height: 16px;
	cursor: pointer;
}
.icon-report{
    background: url("../../img/Sprites.64af8f61.svg")no-repeat -552px -1593px;
	width: 14px;
	height: 13px;
	cursor: pointer;
}
/* Phân tích */
.icon-analysis{
    background: url("../../img/Sprites.64af8f61.svg")no-repeat -251px -1667px;
	width: 17px;
	height: 14px;
	cursor: pointer;
}
.icon-dots{
    background: url('../../img/Sprites.64af8f61.svg') no-repeat -428px -92px;
	width: 16px;
	height: 16px;
	cursor: pointer;
}
.icon-bar{
    background: url('../../img/Sprites.64af8f61.svg') no-repeat -847px -35px;
	width: 16px;
	height: 14px;
	cursor: pointer;
}
.icon-bar-white{
    background: url('../../img/Sprites.64af8f61.svg') no-repeat -316px -37px;
	width: 16px;
	height: 14px;
}
.icon-drop{
    background: url('../../img/Sprites.64af8f61.svg') no-repeat -1129px -365px;
	width: 14px;
	height: 8px;
	cursor: pointer;

}
.icon-notification{
    background: url('../../img/Sprites.64af8f61.svg') no-repeat -257px -32px;
	width: 22px;
	height: 25px;
	cursor: pointer;
}
.icon-avt-default{
    background: url('../../img/Sprites.64af8f61.svg') no-repeat -352px -894px;
	width: 32px;
	height: 32px;
	cursor: pointer;
}
.icon-refesh{
	background: url('../../img/Sprites.64af8f61.svg') no-repeat -1098px -90px;
	width: 20px;
	height: 21px;
	cursor: pointer;
}
.icon-search-15{
	background: url('../../img/Sprites.64af8f61.svg') no-repeat -33px -1664px;
	width: 15px;
	height: 16px;
}
.icon-search {
	background: url('../../img/Sprites.64af8f61.svg') no-repeat -89px -33px;
	width: 22px;
	height: 22px;
}
.icon-drop-page-blue{
	background: url('../../img/Sprites.64af8f61.svg') no-repeat -900px -365px;
	width: 8px;
	height: 5px;
	cursor: pointer;
}
.icon-drop-page-black{
	background: url('../../img/Sprites.64af8f61.svg') no-repeat -564px -365px;
	width: 8px;
	height: 5px;
	cursor: pointer;
}
.icon-drop-page-white{
	background: url('../../img/Sprites.64af8f61.svg')no-repeat -852px -365px;
	width: 8px;
	height: 5px;
}
.icon-question{
	background: url('../../img/Sprites.64af8f61.svg') no-repeat -89px -145px;
	width: 22px;
	height: 22px;
	cursor: pointer;
}
.icon-close-big{
	background: url('../../img/Sprites.64af8f61.svg') no-repeat -147px -147px;
	width: 22px;
	height: 18px;
	cursor: pointer;
}
.icon-close{
	background: url('../../img/Sprites.64af8f61.svg') no-repeat -1178px -362px;
	width: 12px;
	height: 12px;
}
.icon-close-small{
	background: url('../../img/Sprites.64af8f61.svg') no-repeat -84px -316px;
	width: 8px;
	height: 8px;
}
.icon-warn{
	background: url('../../img/Sprites.64af8f61.svg') no-repeat -593px -145px;
	width: 22px;
	height: 23px;
}
.icon-warn-big{
	background: url('../../img/Sprites.64af8f61.svg') no-repeat -598px -463px;
	width: 36px;
	height: 37px;
}
.icon-checked{
	background: url('../../img/Sprites.64af8f61.svg') no-repeat -899px -316px;
	width: 11px;
	height: 8px;
}
.icon-question-mark{
	background: url('../../img/Sprites.64af8f61.svg') no-repeat -832px -462px;
	width: 36px;
	height: 36px;
}
.icon-input-date{
	background: url('../../img/Sprites.64af8f61.svg') no-repeat -128px -312px;
	width: 16px;
	height: 16px;
}
/* Thông báo lỗi tròn đỏ */
.icon-error-round{
	background: url('../../img/Sprites.64af8f61.svg') -752px -462px;
	width: 36px;
	height: 36px;
}
.icon-error-round-2{
	background: url('../../img/Sprites.64af8f61.svg') no-repeat -32px -962px;
	width: 32px;
	height: 32px;
}
/* Thông báo lỗi tam giasc đỏ */
.icon-error-round-small{
	background: url('../../img/Sprites.64af8f61.svg') no-repeat -1552px -312px;
	width: 16px;
	height: 16px;
}
/* Thông báo thanh cong */
.icon-success-small{
	background: url('../../img/Sprites.64af8f61.svg') no-repeat -512px -408px;
	width: 16px;
	height: 16px;
}
/* Export*/
.icon-export{
	background: url('../../img/Sprites.64af8f61.svg')no-repeat -1265px -90px;
	width: 23px;
	height: 20px;
}

/* date*/
.icon-date-picker{
	background: url('../../img/Sprites.64af8f61.svg')no-repeat -128px -312px;
	width: 16px;
	height: 16px;
}

.icon-attachment{
	background: url('../../img/Sprites.64af8f61.svg')no-repeat -539px -202px;
	width: 18px;
	height: 19px;
}
/*Tải file */
.icon-upload-file{
	background: url('../../img/Sprites.64af8f61.svg')no-repeat -1534px -767px;
	width: 97px;
	height: 75px;
}

/*Tải file template */
.icon-download-template{
	background: url('../../img/Sprites.64af8f61.svg')no-repeat -707px -361px;
	width: 11px;
	height: 13px;
}
.icon-add{
	background: url('../../img/Sprites.64af8f61.svg')no-repeat -801px -313px;
	width: 14px;
	height: 14px;
}