.order-item-detail-header{
    display: flex;
    justify-content: space-between;
    padding: 12px 24px;
    background-color: white;
    border-radius: 0 0 8px 8px;
}





.progressbar{
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-radius: 8px ;
    padding: 16px 0;
}
.step{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
}
.hr-step{
    background-color: #b0b3b1;
    width: 100%;
    height: 4px;
    position: absolute;
    top: 24px;
    left: 50%;
    z-index: -1;
}
.hr-step.active{
    background-color: #2dc258;
}
.step-icon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid #2dc258;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
}
.step-icon div{
    font-size: 20px;
    color: #2dc258;
    background-color: white;
    z-index: 1;
}
.DM1xQK{
    height: 0.1875rem;
    width: 100%;
    background-repeat: repeat-x;
    background-position-x: -1.875rem;
    background-size: 7.25rem 0.1875rem;
    background-image: repeating-linear-gradient(45deg,#6fa6d6,#6fa6d6 33px,transparent 0,transparent 41px,#f18d9b 0,#f18d9b 74px,transparent 0,transparent 82px);
}
.order-item-detail-info{
    display: flex;
    background-color: white;
    padding: 24px 0;
}
.info-address{
    flex-basis: 30%;
    padding: 0 24px;
    border-right: 1px solid #ccc9c9;
}
.info-address h5{
    text-transform: capitalize;
    color: rgba(0,0,0,.8);
    font-size: 20px;
    line-height: 24px;
}
.info-address h6{
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    color: rgba(0,0,0,.8);
}
.info-address div{
    color: rgba(0,0,0,.54);
    font-size: 12px;
    white-space: pre-line;
}
.info-product{
    flex-basis: 70%;
    padding:0 24px;
}
.CxyZBG.active{
    color: #ee4d2d;
    font-size: 24px;
}
.TokOv1{
    padding: 0 24px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
    border-bottom: 1px dotted rgba(0,0,0,.09);
}
._8kMYJ3{
    padding: 13px 10px;
    color: rgba(0,0,0,.54);
    font-size: 12px;
}
._8kMYJ3 > span{
    display: inline-block;
    vertical-align: middle;
}
.CxyZBG{
    padding: 13px 0 13px 10px;
    width: 240px;
    border-left: 1px dotted rgba(0,0,0,.09);
    justify-content: flex-end;
    word-wrap: break-word;
    color: rgba(0,0,0,.8);
}
.CxyZBG > div{
    display: block;
}