.p-card{
    min-height: 400px;
    width: 220px;
    background-color: white;
    border-radius: 4px;
    position: relative;
}
.p-card img{
    height: 320px;
}
.p-card-content{
    padding: 8px;
}
.title{
    font-size: 14px;
}
.p-card .title{
    min-height: 40px;
}
.proloop-price{
    display: flex;
    margin: 10px 0;
}
.price{
    color: #c92027;
    margin-right: 4px;
    font-weight: bold;
}
.price-del{
    color: #cecece;
    text-decoration: line-through;
    font-weight: 300;
    font-size: 13px;
    margin-left: 4px;
}
.discount{
    position: absolute;
    top: 0;
    left: 0;
    padding: 4px;
    width: 36px;
    height: 36px;
    background-color:rgb(247, 243, 110);
    z-index: 1;
    text-align: center;
}
.discount::before{
    position: absolute;
    width: 0;
    height: 0;
    border-left: 18px solid rgb(247, 243, 110);
    border-bottom: 6px solid transparent;
    content: "";
    top: 100%;
    left: 0;
}
.discount::after{
    position: absolute;
    width: 0;
    height: 0;
    border-right: 18px solid rgb(247, 243, 110);
    border-bottom: 6px solid transparent;
    content: "";
    top: 100%;
    right: 0;
}
.discount-number{
    font-size: 11px;
    color: red;
}
.discount-title{
    color: white;
    font-weight: 500;
    font-size: 12px
}
.p-color{
  display: flex;
}
.p-color-item{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #d5d3d3;
    margin-right: 4px;
    cursor: pointer;
}