.p-card{
    min-height: 400px;
    width: 220px;
    background-color: white;
    border-radius: 4px;
    position: relative;
}
.p-card image{
    height: 320px;
    width: 100%;
}
.p-card-content{
    padding: 8px;
    cursor: pointer;
}
.title{
    font-size: 14px;
}
.p-card .title{
    min-height: 40px;
}
.proloop-price{
    display: flex;
    margin: 10px 0;
}
.price{
    
    color: #797272;
    text-decoration: line-through;
    font-weight: 300;
    font-size: 15px;
    margin-left: 4px;
}
.price-del{
    margin-right: 4px;
    color: #c92027;
    font-weight: bold;
    font-size: 17px;
}
.sold{
    margin-right: 4px;
    color: black;
    font-size: 12px;
    text-align: right;
    font-style: italic;
}
.discount{
    position: absolute;
    top: 0;
    left: 0;
    padding: 4px;
    width: 36px;
    height: 36px;
    background-color:rgb(253, 206, 52);
    z-index: 1;
    text-align: center;
}
.discount::before{
    position: absolute;
    width: 0;
    height: 0;
    border-left: 18px solid rgb(247, 243, 110);
    border-bottom: 6px solid transparent;
    content: "";
    top: 100%;
    left: 0;
}
.discount::after{
    position: absolute;
    width: 0;
    height: 0;
    border-right: 18px solid rgb(247, 243, 110);
    border-bottom: 6px solid transparent;
    content: "";
    top: 100%;
    right: 0;
}
.discount-number{
    font-size: 11px;
    color: red;
}
.discount-title{
    color: white;
    font-weight: 500;
    font-size: 12px
}
.p-color{
  display: flex;
}
.p-color-item{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #d5d3d3;
    margin-right: 4px;
    cursor: pointer;
}
.p-card:hover{
    box-shadow: 0 2px 5px 2px rgba(139, 136, 136, 0.1);
}
.p-card:hover .action-cart{
    display: block;
}
.action-cart{
    display: none;
    height: 40px;
    position: absolute;
    width: 100%;
    background-color: #fff;
    left: 0;
    top: calc(100% - 25px);
}