.p-slide-card-hidden{
    position: relative;
    width: 100%;
    overflow: hidden;
}
.p-slide-card{
    display: flex;
    transition: 1s ease-in-out;
}
.prev,.next{
    position: absolute;
    font-size: 18px;
    width: 30px;
    height: 30px;
    background-color: white;
    top: 50%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    user-select: none;
}
.prev:hover,.next:hover{
    background-color: #a2a2a2;
    transition: 0.5s all ease-in-out;
    color: white;
}
.prev{
    left: 0;
    transform: translate(50%, -50%);
}
.next{
    right: 0;
    transform: translate(-50%, -50%);
}