@import url(./_variable.css);
@import url(./components/icon.css);
@import url(./components/header.css);
@import url(./components/product-card.css);
@import url(./components/slide-card.css);
@import url(./components/footer.css);
@import url(./components/home.css);
@import url(./components/product-detail.css);
@import url(./components/cart.css);
@import url(./components/site-account.css);


@font-face {
  font-family: GoogleSans-Regular;
  src: url(../fonts/notosans-regular.2cb88a13.woff2);
}
@font-face {
  font-family: GoogleSans-Bold;
  src: url(../fonts/notosans-bold.3ede5aff.woff2);
}
@font-face {
  font-family: GoogleSans-Italic;
  src: url(../fonts/notosans-italic.1c1aaac9.woff2);
}
@font-face {
  font-family: GoogleSans-Semibold;
  src: url(../fonts/notosans-semibold.df3e6dc4.woff2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: GoogleSans-Regular;
  font-size: var(--font-size-default);
  width: 100%;
  position: relative;
  background-color: var(--background-color-body) !important;
}
.m-main-content{
  padding: 0px var(--padding-beside);
}
img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
li {
  list-style-type: none;
}
.m-t-16{
  margin-top: 16px;
}
.m-t-12{
  margin-top: 12px;
}
.m-t-8{
  margin-top: 8px;
}
.m-t-20{
  margin-top: 20px;
}
.m-tb-16{
  margin: 16px 0;;
}
.text-center{
  text-align: center;
}
.m-f-bw{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* Scroll style */
::-webkit-scrollbar {
  width: 3px;
  height: 7px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
  cursor: pointer !important;
}
/* Hiển thị quá dòng thì ... */
.truncate {
  white-space: nowrap; /* ngăn chặn các từ xuống dòng */
  overflow: hidden; /* ẩn nội dung dài */
  text-overflow: ellipsis; /* hiển thị dấu "..." khi nội dung quá dài */
}

.truncate_two-row {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  cursor: pointer !important;
}
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
